In [1]:
# !pip install pandas
# !pip install plotly.express
# !pip install spacy
# !python -m spacy download en_core_web_sm
import pandas as pd

In [2]:
table = pd.read_csv("Book1.csv")

In [3]:
table

                                                    text
0                                              We can go
1                                           But itâ€™s ok
2                                    I like iMessage lol
3                                                      0
4                                                Up to u
...                                                  ...
62749  0a0f7b06258fa56271f64e0f23e3fa441cc9b319c85c3f...
62750  d3d35ca621a33896045285adc3168ef10b919a2ffc5774...
62751  c4df36a5b744449b16f99778985cad155c63a556efd20d...
62752  044a75ca7c5c425d0cf000d2190b04e7a31da7cdbeb1af...
62753  3501b995ad68a449a9d1d5f82d496ee3c82a66785e9158...

[62754 rows x 1 columns]

In [4]:
removables = ['ï¿¼', '0']
for i in removables:
    table = table[table['text'] != i]

table


# replace â€™ with '
table['text'] = table['text'].str.replace("â€™", "'")

In [5]:
table.describe()

         text
count   60469
unique  59451
top       Yes
freq       89

In [6]:
table.value_counts()

text
Yes                                                                 89
Lol                                                                 40
Ok                                                                  35
yes                                                                 34
Yeah                                                                34
                                                                    ..
5aeead45373dd290634a8946d24d1427277eb96c2d4bff5aeda0772c70f62df2     1
5aefb6593de1cd478e8e378ce0720367a52cb11ea18d0dd6f987b632053b224a     1
5af2d07123002b111f05e82f1f8f0a805112baba2786df5f182536c6981773e0     1
5af4b461e8d6cf08748135b452584e133e7a1c2d9bf2611c4d8252cb6b56e6e2     1
ðŸ˜š                                                                    1
Name: count, Length: 59451, dtype: int64

In [7]:
table = table[table['text'].str.len() != 64]

In [8]:
table

                                                   text
0                                             We can go
1                                          But it's ok
2                                   I like iMessage lol
4                                               Up to u
5                                   I mean I don't mind
...                                                 ...
13847                                I just settled in
27960  I wanted to take a deep dive into it during May
55391                             Eve gelince konusuruz
55392                                               ._.
55393       What if the Turkish name sounds English too

[4732 rows x 1 columns]

In [9]:
lows = table.text.str.lower()

In [10]:
lows.str.rstrip(" ").value_counts()

text
yes                                                                   157
lol                                                                    57
okay                                                                   47
ok                                                                     47
no                                                                     45
                                                                     ...
i'd rather have u want to hangout with me                               1
i don't want u to hang out with me because it feels like u have to      1
i mean that not really a good thing                                     1
u shouldn't feel like that :(                                           1
what if the turkish name sounds english too                             1
Name: count, Length: 3442, dtype: int64

In [11]:
import spacy

In [12]:
# %%python -m spacy download en_core_web_sm
import spacy
nlp = spacy.load("en_core_web_sm")

def lemmatize_text(text):
    doc = nlp(text)
    lemmas = [token.lemma_ for token in doc]
    return ' '.join(lemmas)

In [13]:
table['lemma'] = table['text'].apply(lambda x: lemmatize_text(x))

In [14]:
table['lemma'].head(7)

0               we can go
1            but it be ok
2     I like iMessage lol
4                 up to u
5    I mean I do not mind
6                     why
7              what be up
Name: lemma, dtype: object

In [15]:
with open('output.txt', 'w') as f:
    f.write(table['lemma'].str.cat(sep='\n'))

In [16]:
text = open("output.txt", "r")


d = dict()


for line in text:
    
    line = line.strip()

    line = line.lower()

    words = line.split(" ")
    # Iterate over each word in line
    for word in words:
        # Check if the word is already in dictionary
        if word in d:
            # Increment count of word by 1
            d[word] = d[word] + 1
        else:
            # Add the word to dictionary with count 1
            d[word] = 1

# Remove the most used words in English, used from nltk, added a bit too
common_words =[ 'i', 'me', 'my', 'myself', 'we', 'our', 'ours', 'ourselves', 'you', "you're", "you've", "you'll", "you'd", 'your', 'yours',
    'yourself', 'yourselves', 'he', 'him', 'his', 'himself', 'she', "she's", 'her', 'hers', 'herself', 'it', "it's", 'its',
    'itself', 'they', 'them', 'their', 'theirs', 'themselves', 'what', 'which', 'who', 'whom', 'this', 'that', "that'll",
    'these', 'those', 'am', 'is', 'are', 'was', 'were', 'be', 'been', 'being', 'have', 'has', 'had', 'having', 'do', 'does',
    'did', 'doing', 'a', 'an', 'the', 'and', 'but', 'if', 'or', 'because', 'as', 'until', 'while', 'of', 'at', 'by', 'for',
    'with', 'about', 'against', 'between', 'into', 'through', 'during', 'before', 'after', 'above', 'below', 'to', 'from',
    'up', 'down', 'in', 'out', 'on', 'off', 'over', 'under', 'again', 'further', 'then', 'once', 'here', 'there', 'when',
    'where', 'why', 'how', 'all', 'any', 'both', 'each', 'few', 'more', 'most', 'other', 'some', 'such', 'no', 'nor', 'not',
    'only', 'own', 'same', 'so', 'than', 'too', 'very', 's', 't', 'can', 'will', 'just', 'don', "don't", 'should',
    "should've", 'now', 'd', 'll', 'm', 'o', 're', 've', 'y', 'ain', 'aren', "aren't", 'couldn', "couldn't", 'didn',
    "didn't", 'doesn', "doesn't", 'hadn', "hadn't", 'hasn', "hasn't", 'haven', "haven't", 'isn', "isn't", 'ma', 'mightn', "cant",
    "mightn't", 'mustn', "mustn't", 'needn', "needn't", 'shan', "shan't", 'shouldn', "shouldn't", 'wasn', "wasn't","ya", "lemme",
    'weren', "weren't", 'won', "won't", 'wouldn', "wouldn't", "u", "?", "ok", "ur", "like", "okay", "oki", "haha", "im", "wanna"
]


# Remove the common words from the dictionary
for word in common_words:
    if word in d:
        del d[word]
            
            
sorted_d = sorted(d.items(), key=lambda x: x[1], reverse=True)


for key, value in sorted_d[:10]:
    print(key, ":", value)

yes : 204
lol : 188
go : 117
get : 110
yeah : 102
know : 85
think : 68
baby : 67
good : 63
cano : 62

In [17]:
len(sorted_d)

2722

In [18]:
x= 0
for key, value in sorted_d:
    x+= value
x

8737

In [19]:
cutoff = x/len(sorted_d)
print(cutoff) # on average, this is the length

3.209772226304188

In [20]:
cut = {}
# remove words shorter than this value
for key, value in sorted_d:
    if value > cutoff:
        cut.update({key: value})

In [21]:
len(cut)

476

In [22]:
#Most used 10 words within the sentence. 
most_used_10_words_dict = dict(list(cut.items())[0: 10]) 
print(most_used_10_words_dict)

{'yes': 204, 'lol': 188, 'go': 117, 'get': 110, 'yeah': 102, 'know': 85, 'think': 68, 'baby': 67, 'good': 63, 'cano': 62}

In [23]:
def extract_subject(sentence):
    doc = nlp(sentence)
    for token in doc:
        if token.dep_ == 'nsubj':
            return token.text
    return ""

# Apply the function to the "lemma" column
table['subject'] = table['lemma'].apply(extract_subject)

In [24]:
with open('subject_matter.txt', 'w') as f:
    f.write(table['subject'].str.cat(sep='\n'))

text = open("subject_matter.txt", "r")


d = dict()


for line in text:
    
    line = line.strip()
    line = line.rstrip()

    line = line.lower()

    words = line.split(" ")
    # Iterate over each word in line
    for word in words:
        # Check if the word is already in dictionary
        if word in d:
            # Increment count of word by 1
            d[word] = d[word] + 1
        else:
            # Add the word to dictionary with count 1
            d[word] = 1

# Remove the common words from the dictionary
for word in common_words:
    if word in d:
        del d[word]
            
            
sorted_d = sorted(d.items(), key=lambda x: x[1], reverse=True)

most_used_10_topics_dict = {}

# Most common topics
for key, value in sorted_d[1:10]: # first element is a space
    print(key, ":", value)
    most_used_10_topics_dict.update({key:value})

parent : 7
people : 4
friend : 4
zeyno : 4
stomach : 4
yav : 4
cano : 3
guy : 3
head : 3

In [25]:
print(most_used_10_topics_dict)

{'parent': 7, 'people': 4, 'friend': 4, 'zeyno': 4, 'stomach': 4, 'yav': 4, 'cano': 3, 'guy': 3, 'head': 3}

In [26]:
print(most_used_10_words_dict)

{'yes': 204, 'lol': 188, 'go': 117, 'get': 110, 'yeah': 102, 'know': 85, 'think': 68, 'baby': 67, 'good': 63, 'cano': 62}

In [27]:
common_keys = set(most_used_10_topics_dict.keys()) & set(most_used_10_words_dict.keys())

In [28]:
print(common_keys) # aw the most common word is me :)

{'cano'}